<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OnDemand</key>
	<true/>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>Clicpomme.com</string>
		<key>creation_date</key>
		<date>2017-12-12T15:51:19Z</date>
		<key>munki_version</key>
		<string>3.1.1</string>
		<key>os_version</key>
		<string>10.11.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>Production</string>
	</array>
	<key>category</key>
	<string>SelfService</string>
	<key>description</key>
	<string>This utility reset print system and remove all installed printer</string>
	<key>developer</key>
	<string>Clicpomme</string>
	<key>display_name</key>
	<string>Réinitialiser le système d’impression</string>
	<key>icon_name</key>
	<string>printer_delete.png</string>
	<key>installer_type</key>
	<string>nopkg</string>
	<key>minimum_os_version</key>
	<string>10.9.5</string>
	<key>name</key>
	<string>reset_printer</string>
	<key>preinstall_alert</key>
	<dict>
		<key>alert_detail</key>
		<string> Cette procédure supprime toutes les imprimantes de votre liste d’imprimantes, ainsi que tous les préréglages des imprimantes et toutes les informations sur les tâches d’impression terminées.</string>
		<key>alert_title</key>
		<string>Réinitialiser le système d’impression</string>
		<key>cancel_label</key>
		<string>Cancel</string>
		<key>ok_label</key>
		<string>OK</string>
	</dict>
	<key>preinstall_script</key>
	<string>#!/bin/sh
sudo lpstat -p | cut -d' ' -f2 | xargs -I{} lpadmin -x {} /</string>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
